{{ define "main" }}
<h1>{{ .Site.Title }}</h1>
<p>{{ .Site.Params.description }}</p>

<h2>Browse the Family Tree</h2>

{{ with .Site.GetPage "section" "person" }}
<h3><a href="{{ .RelPermalink }}">People</a></h3>
<ul>
{{ range .RegularPages.ByTitle }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
{{ end }}
</ul>
{{ end }}

{{ with .Site.GetPage "section" "family" }}
<h3><a href="{{ .RelPermalink }}">Families</a></h3>
<ul>
{{ range .RegularPages.ByTitle }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
{{ end }}
</ul>
{{ end }}
{{ end }}
